body{
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

h1, .card-body {
  text-align: center
}

h1, h5{
  font-weight:700;
}

a{
  all: unset;
}

a:hover{
  text-decoration: none;
  color: #00b490;
}

.fa-arrow-alt-circle-left{
  font-size: 40px;
  margin-right: 10%;
}

.navbar{
  margin-bottom: 5%;
  background-color: #191c1b;
}

.navbar-brand{
  margin: 0 auto;
}

.heading__top, .col{
  margin-bottom: 10%;
}

.heading__top--highlight, .highlight{
  color:#00b490;
}

/* The declaration below fades outs elements with that class; the fade does not cause element to be removed and thus it just disappears*/
/* .step-one__card--disappear{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
} */

.col__Step-Two, .hidden {
  display:none;
}

.card-body{
  background-color: #00b490;
  border-color: lightgrey;
  border-width: 2.5px;
}

.img__beardGrowth{
  background-color: #CCCCCC;
  padding:10px;
}

.btn-primary{
  background-color:black;
  margin: 0 auto;
}

.btn-primary:hover{
  background-color:#CCCCCC;
  color:black;
}

/* Media Queries */
@media only screen and (max-width: 1272px){
  #four {max-width: 100%;}
}

/* Adjusts size of image on smaller screensizes such that it does not collide with edge of screen causing the navbar to reduce in width and show color of page body instead */
@media only screen and (max-width: 416px){
  .logo {width: 75%;}
  .logo {margin-left: 15%;}
}

@media only screen and (min-width: 953px){
  #four {max-width: 33%;}
}
